* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightgray;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar-brand {
  font-weight: 600;
}
